* {
  font-size: 20px;
  text-align: center;
}

i {
  font-size: 8vh;
}

a {
  font-size: 30px;
  color: #191C1F;
}

a:hover {
  color: gray;
}

header {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0px;
  background: white;
  z-index: 1;
}

nav {
  min-height: 7vh;
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

nav h1,
nav ul {
font-family: 'Barlow Condensed', sans-serif;
 font-size: 1.5rem;
 flex: 1;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: black;
  text-decoration: none;
}

h1 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 12vh;
}

h3 {
  /* color: white; */
  font-family: 'Barlow Condensed', sans-serif;
  padding-top: 10px;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section h2 {
  font-size: 5rem;
  color: white;
}

img {
  /* border-radius: 100%; */
  /* border-color: black; */
  /* border-style: solid; */
  width: 100%;
}

.beach-pic {
  border-style: solid;
  border-radius: 100%;
  border-width: 5px;
  width: 80vh;
}

footer {
  background-color: white;
  top: 0px;
  background: white;
  min-height: 7vh;
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
  padding: 10px;
}

.intro {
  background-image: url('./images/mountain.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.white {
  color: white;
  background-color: white;
}

#about {
  background: white;
}

.skills {
  background: linear-gradient(to right top, #667db6, #0082c8, #0082c8, #667db6)
}

#work {
  /* background: linear-gradient(to right top, #1c92d2, #f2fcfe) */
  background: #191C1F;
  /* display: block; */
}

.resume {
  background: linear-gradient(to right top, #396afc, #2948ff)
}

#contact {
  /* background: linear-gradient(to right top, #1c92d2, #f2fcfe) */
}

.project {
  background-color: white;
  border-style: solid;
  border-color: black;
  display: inline-block;
  justify-content: space-around;
  margin: auto;
  margin-left: 25px;
  margin-right: 25px;
  width: 50vh;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#work {
  justify-content: space-between;
}

.card {
  display: flex;
  /* width: 30vh; */
  margin-left: 25px;
  margin-right: 25px;
}

@media screen and (max-width: 1205px) {
  .beach-pic {
    /* display: none; */
    margin-top: 10px;
  }
}

@media screen and (max-width: 1398px) {
  #work {
    padding: 20px;
  }
}
